<launch>
  <rosparam file="$(find jackal_control)/config/control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller --shutdown-timeout 1" />

  <include file="$(find jackal_control)/launch/robot_localization.launch"/>

  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel jackal_velocity_controller/cmd_vel" />
</launch>

