<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  
  <rosparam command="load" file="$(find jackal_control)/config/teleop.yaml" />
  
  <group ns="bluetooth_teleop">
    <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
      <remap from="cmd_vel" to="/cmd_vel" />
    </node>
  </group>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
    <remap from="cmd_vel" to="/cmd_vel" />
  </node> 
</launch>
