<launch>

  <arg name="use_map_topic" default="false"/>
  <arg name="scan_topic" default="$(eval optenv('JACKAL_LASER_TOPIC', 'front/scan'))" />

  <!-- Run the map server -->
 <arg name="map_file" default="$(find jackal_navigation)/maps/jackal_race.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find jackal_navigation)/launch/include/amcl.launch">
    <arg name="use_map_topic" value="$(arg use_map_topic)" />
    <arg name="scan_topic"    value="$(arg scan_topic)" />
  </include>

  <!--- Run Move Base -->
 <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

</launch>
