<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    As you add to this xacro, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    jackal_viz/launch/view_model.launch
    jackal_gazebo/launch/jackal_world.launch
    jackal_base/launch/base.launch
  -->

  <xacro:include filename="accessories/sick_lms1xx.urdf.xacro" />

  <xacro:if value="$(optenv JACKAL_LASER 0)">
    <sick_lms1xx_mount prefix="$(optenv JACKAL_LASER_MOUNT front)"
                       topic="$(optenv JACKAL_LASER_TOPIC scan)" />

    <joint name="$front_laser_mount_joint" type="fixed">
      <origin xyz="$(optenv JACKAL_LASER_OFFSET 0 0 0)"
              rpy="$(optenv JACKAL_LASER_RPY 0 0 0)" />
      <parent link="$(optenv JACKAL_LASER_MOUNT front)_mount" />
      <child link="$(optenv JACKAL_LASER_MOUNT front)_laser_mount" />
    </joint>
  </xacro:if>

  <!--
  <xacro:include filename="accessories/point_grey_flea.urdf.xacro" />

  <xacro:if value="$(arg camera)">
    <xacro:point_grey_flea3
      prefix="front" 
      joint_parent="front_mount"
      joint_xyz="0.135 0 0.015"
      joint_rpy="0 0 0"
      camera_x="0.0754"
      camera_y="0.029"
      camera_z="0.035"
      camera_mass="0.085"
      hfov="1.0471975512"
      width="640"
      height="512"
      format="R8G8B8"
      near="0.1"
      far="300"
      ns="jackal"
      frame_id="front_mount"
      />
  </xacro:if>
  -->
</robot>
