<?xml version="1.0"?>
<!--
  This file is copied largely from Microsoft's azure_kinect.urdf.xacro, found in https://github.com/microsoft/Azure_Kinect_ROS_Driver

  MIT License

Copyright (c) Microsoft Corporation. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="azure_kinect" params="prefix">

    <link name="${prefix}camera_body">
      <visual>
        <origin xyz="0. 0. 0." />
        <geometry>
          <box size="0.0994 0.0996 0.023" />
        </geometry>
        <material name="white" />
      </visual>
    </link>

    <link name="${prefix}camera_base">
      <visual>
        <origin xyz="-0.013 0. 0." />
        <geometry>
          <box size="0.026 0.103 0.039" />
        </geometry>
        <material name="medium_grey" />
      </visual>
    </link>

    <link name="${prefix}camera_visor">
      <visual>
        <origin xyz="-0.0128 0. 0." />
        <geometry>
          <box size="0.026 0.101 0.037" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="${prefix}camera_base_to_body" type="fixed">
      <parent link="${prefix}camera_base" />
      <child link="${prefix}camera_body" />
      <origin xyz="-0.0757 0. 0.008" rpy="0. 0. 0." />
    </joint>

    <joint name="${prefix}camera_base_to_visor" type="fixed">
      <parent link="${prefix}camera_base" />
      <child link="${prefix}camera_visor" />
      <origin xyz="0. 0. 0." rpy="0. 0. 0." />
    </joint>

  </xacro:macro>
</robot>
