<?xml version="1.0"?>
<robot name="standardbridgeplate">
	<joint name="base_link_to_standardbridgeplate" type="fixed">
		<parent link="base_link"/>
		<child link="standardbridgeplate"/>
		<origin xyz="0.1016 0.0 0.1143" rpy="0.0 0.0 0.0"/>
	</joint>

	<link name="standardbridgeplate">
		<visual>
			<geometry>
				<mesh filename="package://jackal_description/meshes/jackal-standard-bridge-plate.STL"/>
			</geometry>
			<material name="black">
				<color rgba="0.6 0.6 0.6 1"/>
			</material>
		</visual>
	</link>
</robot>
