<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_bumblebee2.urdf.xacro" />

  <xacro:macro name="pointgrey_bumblebee2_mount" params="prefix name">

    <BB2-08S2C-38 frame="${prefix}_camera" name="${name}" />

    <link name="${prefix}_camera_mount">
      <visual>
        <origin xyz="0 0 0" rpy="1.57 0 1.57" />
        <geometry>
          <!-- Origin of this mesh is the base of the mount. -->
          <mesh filename="package://jackal_description/meshes/pointgrey-camera-bracket.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <joint name="${prefix}_camera_joint" type="fixed">
      <origin xyz="0.1013 0 0.0318" rpy="0 0 0" />
      <parent link="${prefix}_camera_mount" />
      <child link="${prefix}_camera" />
    </joint>

  </xacro:macro>

</robot>
