<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_bumblebee2.urdf.xacro" />

  <xacro:macro name="pointgrey_bumblebee2_mount" params="prefix name tilt">

    <BB2-08S2C-38 frame="${prefix}_camera" name="${name}" />

    <link name="${prefix}_camera_mount">
      <visual>
        <origin xyz="0 0 0" rpy="1.5707 0 1.5707" />
        <geometry>
          <!-- Origin of this mesh is the base of the mount. -->
          <mesh filename="package://jackal_description/meshes/pointgrey-camera-bracket.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <link name="${prefix}_camera_beam">
      <visual>
        <origin xyz="0 -.080 0.004" rpy="1.5707 0 1.5707" />
        <geometry>
          <!-- Origin of this mesh is the base of the mount. -->
          <mesh filename="package://jackal_description/meshes/pointgrey-camera-beam.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <joint name="${prefix}_camera_pivot_joint" type="fixed">
      <origin xyz="0.095 0 -0.002" rpy="0 ${tilt} 0" />
      <parent link="${prefix}_camera_mount" />
      <child link="${prefix}_camera_beam" />
    </joint>

    <joint name="${prefix}_camera_bracket_joint" type="fixed">
      <origin xyz="0.007 0 0.03450" rpy="0 0 0" />
      <parent link="${prefix}_camera_beam" />
      <child link="${prefix}_camera" />
    </joint>

    <gazebo reference="${prefix}_camera_beam">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${prefix}_camera_mount">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>

</robot>
