<robot xmlns:xacro="http://wiki.ros.org/xacro">
    </xacro:if value="$(optenv JACKAL_WIBOTIC_BUMPER 0)">
      <link name="wibotic_bumper">
        <visual>
          <geometry>
            <mesh filename="package://jackal_description/meshes/wibotic_bumper.stl" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <box size="0.115 0.25 0.145"/>
          </geometry>
          <origin xyz="-0.017575 0 0.0575" rpy="0 0 0"/>
        </collision>
      </link>
      <joint name="wibotic_bumper_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="wibotic_bumper"/>
      </joint>
    </xacro:if>
</robot>
